openapi: "3.0.4"
info:
  title: "Deck API"
  description: "# Deck API makes it straightforward for users to connect to any portal securely and quickly.\r\n\r\n### Welcome! Looking for a quick introduction to our API? Check out the \U0001F680[Quickstart guide](https://framework.docs.deck.co/docs/setup).\r\n\r\nStarting on the sandbox server is easy:\r\n\r\n1. Create an account using the [dashboard](https://dashboard.deck.co) to get your client id and sandbox secret\r\n2. Enter your client id and sandbox secret in the Authentication section below\r\n3. Hit the \"Try\" buttons below for each endpoint.\r\n\r\nHappy querying!"
  contact:
    name: "Ready to start building? Contact us!"
    url: "https://deck.co"
  version: "v1"
servers:
  - url: "https://sandbox.deck.co/api/v1"
    description: "Deck Sandbox API"
  - url: "https://live.deck.co/api/v1"
    description: "Deck API"
paths:
  "/jobs/{jobGuid}/cancel":
    post:
      tags:
        - "Authentication"
      summary: "Cancel a Connection"
      description: "Cancels an `EnsureConnection` job that is running."
      parameters:
        - name: "jobGuid"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/JobCancelResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/JobCancelResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/JobCancelResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/connection/destroy":
    post:
      tags:
        - "Authentication"
      summary: "Delete a Connection"
      description: "Deletes the user’s connection and all associated data. The next time the user connects, Deck will treat it as a new connection."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/AccessTokenRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/AccessTokenRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/AccessTokenRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
      x-speakeasy-name-override: "destroy"
  "/jobs/mfa/answer":
    post:
      tags:
        - "Authentication"
      summary: "Respond to MFA Request"
      description: "Used during custom authentication flows to respond to the `MfaQuestionEncounteredEvent` webhook that requests a MFA code."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/MfaAnswerRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/MfaAnswerRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/MfaAnswerRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
      x-speakeasy-name-override: "answerMFA"
  "/agents/prepare":
    post:
      tags:
        - "Authentication"
      summary: "Prepare an Agent"
      description: "Warms up an agent to reduce latency after an `EnsureConnection` request."
      requestBody:
        description: "Specifies the source for which the agent will be prepared."
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/PrepareAgentRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/PrepareAgentRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/PrepareAgentRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
        "200":
          description: "OK"
        "404":
          description: "Not Found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ProblemDetails"}
        "500":
          description: "Internal Server Error"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/jobs/submit":
    post:
      tags:
        - "Jobs"
      summary: "Run a Job"
      description: "Runs a job with the specified parameters and returns a job ID for tracking its status."
      parameters:
        - name: "x-deck-correlation-id"
          in: "header"
          schema:
            type: "string"
            format: "uuid"
        - name: "x-deck-sandbox"
          in: "header"
          description: "Can be used against the sandbox API with special values to test error use cases"
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema:
              required:
                - "job_code"
                - "input"
              type: "object"
              allOf:
                - {"$ref": "#/components/schemas/IJobRequest"}
              properties:
                "job_code":
                  type: "string"
                  description: "The job type identifier"
                  example: "FetchDocuments"
                "input":
                  type: "object"
                  additionalProperties:
                    oneOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                      - type: "object"
                  description: "Dynamic input object - structure varies by job type"
                  example: {"access_token": "access-development-6599f8dd-1a1c-4586-39d1-08ddb97283f7", "key1": "value1", "someNumber": 123.45, "someBoolean": true, "someArray": ["a", "b"], "nestedObject": {"k": "v"}}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "202":
          description: "Accepted"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/IJobResponse"}
        "409":
          description: "Conflict"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/AlreadyRunningJobResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
      x-speakeasy-name-override: "submit"
  "/jobs/{jobId}/status":
    get:
      tags:
        - "Jobs"
      summary: "Retrieve Job Run Status"
      description: "Returns the current status for a specific job run."
      parameters:
        - name: "jobId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/JobStatusResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/JobStatusResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/JobStatusResponse"}
        "404":
          description: "Not Found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/jobs/{jobId}":
    get:
      tags:
        - "Jobs"
      summary: "Retrieve Job Run Output and Status"
      description: "Returns information for the specific job, including its output and its status."
      parameters:
        - name: "jobId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/JobDetailsResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/JobDetailsResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/JobDetailsResponse"}
        "404":
          description: "Not Found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/jobs/{jobId}/all":
    get:
      tags:
        - "Jobs"
      summary: "Retrieve all Job Information"
      description: "Returns information for the specific job, including all play-back artifacts."
      parameters:
        - name: "jobId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/JobArtifactsResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/JobArtifactsResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/JobArtifactsResponse"}
        "404":
          description: "Not Found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/BadRequestJobResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/connection/webhook/update":
    post:
      tags:
        - "Jobs"
      summary: "Update Webhook Delivery Endpoint"
      description: "Updates the webhook delivery endpoint used for job and connection events."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/WebhookUpdateRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/WebhookUpdateRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/WebhookUpdateRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
      x-speakeasy-group: "connections"
      x-speakeasy-name-override: "updateWebhook"
  "/jobs/{jobGuid}/documents":
    get:
      tags:
        - "Storage"
      summary: "List documents"
      description: "Returns a list of documents fetched during a job."
      parameters:
        - name: "jobGuid"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/DocumentListResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/DocumentListResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/DocumentListResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/jobs/documents/{documentId}":
    get:
      tags:
        - "Storage"
      summary: "Download a Document"
      description: "Downloads a document fetched during a job."
      parameters:
        - name: "documentId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "string"
                format: "binary"
            "text/json":
              schema:
                type: "string"
                format: "binary"
            "application/json+encrypted":
              schema:
                type: "string"
                format: "binary"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
  "/link/sources":
    post:
      tags:
        - "Sources"
      summary: "Search sources"
      description: "Searches Deck’s catalog of integrations."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkSourcesRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkSourcesRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkSourcesRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSourcesResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/LinkSourcesResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/LinkSourcesResponse"}
      x-speakeasy-name-override: "searchSources"
  "/link/token/create":
    post:
      tags:
        - "Auth SDK"
      summary: "Create an SDK Token"
      description: "Generates a short-lived SDK token used to initialize the Auth SDK. The token expires after 20 minutes."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenCreateRequest"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenCreateRequest"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenCreateRequest"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
      x-speakeasy-name-override: "createToken"
  "/link/connection/status":
    post:
      tags:
        - "Auth SDK"
      summary: "Get Token Status"
      description: "Returns the current status of an SDK token."
      requestBody:
        content:
          "application/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
          "text/json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
          "application/*+json":
            schema:
              allOf:
                - {"$ref": "#/components/schemas/LinkTokenRequestResponse"}
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkConnectionStatusResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/LinkConnectionStatusResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/LinkConnectionStatusResponse"}
      x-speakeasy-group: "links"
      x-speakeasy-name-override: "getConnectionStatus"
  "/test/api_keys":
    get:
      tags:
        - "Testing"
      summary: "Test your API keys"
      description: "Verifies that your Deck credentials are valid."
      responses:
        "400":
          description: "Bad Request"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "text/json":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
            "application/json+encrypted":
              schema: {"$ref": "#/components/schemas/ErrorMessageResponse"}
        "200":
          description: "OK"
        "401":
          description: "Unauthorized - Invalid API key"
      security:
        - client_id: []
          secret: []
components:
  schemas:
    "AccessTokenRequest":
      required:
        - "access_token"
      type: "object"
      properties:
        "access_token":
          minLength: 1
          type: "string"
          description: "The access token associated with the Item data is being requested for"
      additionalProperties: false
    "AlreadyRunningJobResponse":
      required:
        - "error_message"
        - "job_guid"
        - "job_id"
        - "message"
      type: "object"
      properties:
        "job_id":
          type: "string"
          description: "[Obsolete] Legacy identifier of the job. Use JobGuid instead."
          format: "uuid"
          deprecated: true
        "job_guid":
          type: "string"
          description: "Unique identifier of the already running job."
          format: "uuid"
        "message":
          type: "string"
          description: "[Obsolete] Legacy message describing the conflict. Use ErrorMessage instead."
          deprecated: true
        "error_message":
          type: "string"
          description: "A human-readable error message indicating the job is already in progress."
      additionalProperties: false
    "BadRequestJobResponse":
      required:
        - "error_code"
        - "error_message"
      type: "object"
      properties:
        "error_code":
          allOf:
            - {"$ref": "#/components/schemas/ErrorCodeEnum"}
          description: "A predefined error code indicating the specific reason for the failure."
        "message":
          type: "string"
          description: "[Obsolete] Legacy message describing the conflict. Use ErrorMessage instead."
          deprecated: true
        "error_message":
          type: "string"
          description: " A human-readable error message indicating the job is already in progress."
      additionalProperties: false
    "BetaSourceStatusEnum":
      enum:
        - "LiveAndBeta"
        - "OnlyLive"
        - "OnlyBeta"
      type: "string"
    "DocumentInfo":
      required:
        - "document_id"
        - "file_type"
      type: "object"
      properties:
        "document_id":
          minLength: 1
          type: "string"
        "file_type":
          minLength: 1
          type: "string"
        "metadata":
          type: "object"
          additionalProperties:
            type: "string"
        "file_name":
          type: "string"
          nullable: true
        "file_size":
          type: "integer"
          format: "int64"
          nullable: true
        "fetch_date":
          type: "string"
          format: "date-time"
      additionalProperties: false
    "DocumentListResponse":
      required:
        - "documents"
      type: "object"
      properties:
        "documents":
          type: "array"
          items: {"$ref": "#/components/schemas/DocumentInfo"}
      additionalProperties: false
    "ErrorCategoryEnum":
      enum:
        - "INVALID_REQUEST"
        - "INVALID_RESULT"
        - "INVALID_INPUT"
        - "DATA_SOURCE_ERROR"
        - "RATE_LIMIT_EXCEEDED"
        - "API_ERROR"
        - "CONNECTION_ERROR"
        - "RECAPTCHA_ERROR"
        - "FETCH_BALANCE"
        - "ADD_PAYMENT_METHOD"
        - "FETCH_PAYMENT_METHODS"
        - "PAYMENT"
      type: "string"
    "ErrorCodeEnum":
      enum:
        - "DATA_SOURCE_NOT_FOUND"
        - "DATA_SOURCE_NOT_RESPONDING"
        - "PRODUCT_NOT_READY"
        - "CONNECTION_NOT_FOUND"
        - "CONNECTION_FAILED"
        - "INVALID_CREDENTIALS"
        - "LIVE_CONNECTIVITY_NOT_ENABLED"
        - "PRODUCT_NOT_ENABLED"
        - "NO_ACCOUNTS"
        - "NO_STATEMENTS"
        - "CONNECTION_LOCKED"
        - "BLOCKED_BY_PIN"
        - "VALIDATION_FAILED"
        - "INVALID_API_KEYS"
        - "INVALID_LINK_TOKEN"
        - "INVALID_PUBLIC_TOKEN"
        - "INVALID_ACCESS_TOKEN"
        - "INVALID_ACCOUNT_ID"
        - "INVALID_STATEMENT_ID"
        - "CONSENT_REQUIRED"
        - "INVALID_CURP"
        - "INVALID_DOCUMENT_UPLOAD"
        - "INVALID_ARGUMENT"
        - "NOT_SUPPORTED"
        - "UNEXPECTED_ERROR"
        - "PLANNED_MAINTENANCE"
        - "SECURITY_QUESTION_NOT_FOUND"
        - "SECURITY_CAPTCHA_NOT_FOUND"
        - "RATE_LIMIT_EXCEEDED"
        - "NO_ACTIVE_CONNECTION"
        - "INVALID_SOURCE"
        - "ACTIVE_CONNECTION_EXISTS"
        - "DOMAIN_BLACKLISTED"
        - "NO_JOB_FOUND"
        - "IDEMPOTENCY_KEY_INVALID"
        - "IDEMPOTENCY_KEY_DUPLICATE"
        - "CORRELATION_ID_INVALID"
        - "JOB_CANNOT_BE_CANCELED"
        - "JOB_NOT_RUNNING"
      type: "string"
    "ErrorMessageResponse":
      type: "object"
      properties:
        "error_category":
          allOf:
            - {"$ref": "#/components/schemas/ErrorCategoryEnum"}
          description: "A broad categorization of the error. Safe for programmatic use."
        "error_code":
          allOf:
            - {"$ref": "#/components/schemas/ErrorCodeEnum"}
          description: "The particular error code. Safe for programmatic use."
        "error_message":
          type: "string"
          description: "A developer-friendly representation of the error code. This may change over time and is not safe for programmatic use."
        "display_message":
          type: "string"
          description: "A user-friendly representation of the error code. null if the error is not related to user action. This may change over time and is not safe for programmatic use."
          nullable: true
      additionalProperties: false
    "FieldTypeEnum":
      enum:
        - "Text"
        - "Password"
      type: "string"
    "IJobRequest":
      required:
        - "job_code"
        - "input"
      type: "object"
      properties:
        "job_code":
          type: "string"
          description: "The job type identifier"
          example: "FetchDocuments"
        "input":
          type: "object"
          additionalProperties:
            oneOf:
              - type: "string"
              - type: "number"
              - type: "boolean"
              - type: "array"
                items:
                  type: "string"
              - type: "object"
          description: "Dynamic input object - structure varies by job type"
          example: {"access_token": "access-development-6599f8dd-1a1c-4586-39d1-08ddb97283f7", "key1": "value1", "someNumber": 123.45, "someBoolean": true, "someArray": ["a", "b"], "nestedObject": {"k": "v"}}
      additionalProperties: false
    "IJobResponse":
      type: "object"
      properties:
        "job_guid":
          type: "string"
          format: "uuid"
        "job_code":
          type: "string"
      additionalProperties: false
    "JobArtifactData":
      type: "object"
      properties:
        "screenshots":
          type: "array"
          items: {"$ref": "#/components/schemas/ScreenshotData"}
      additionalProperties: false
    "JobArtifactsResponse":
      required:
        - "created_at"
        - "job_id"
        - "source"
        - "status"
        - "updated_at"
      type: "object"
      properties:
        "job_id":
          type: "string"
          description: "The unique identifier of the job."
          format: "uuid"
        "status":
          allOf:
            - {"$ref": "#/components/schemas/JobStatus"}
          description: "The status of the job executed."
        "output":
          type: "string"
          description: "The status of the job executed."
          nullable: true
        "source":
          allOf:
            - {"$ref": "#/components/schemas/SourceData"}
          description: "The source against which the job executed."
        "artifacts":
          allOf:
            - {"$ref": "#/components/schemas/JobArtifactData"}
          description: "The artifacts that have been compiled during a job execution."
        "created_at":
          type: "integer"
          description: "The time the job execution was created."
          format: "int64"
        "updated_at":
          type: "integer"
          description: "The time the job execution was updated."
          format: "int64"
      additionalProperties: false
    "JobCancelResponse":
      required:
        - "created_at"
        - "updated_at"
      type: "object"
      properties:
        "job_guid":
          type: "string"
          format: "uuid"
        "status":
          allOf:
            - {"$ref": "#/components/schemas/JobStatus"}
        "created_at":
          type: "integer"
          format: "int64"
        "updated_at":
          type: "integer"
          format: "int64"
      additionalProperties: false
    "JobDetailsResponse":
      required:
        - "created_at"
        - "job_code"
        - "job_id"
        - "source_id"
        - "source_name"
        - "status"
        - "updated_at"
      type: "object"
      properties:
        "job_id":
          type: "string"
          description: "The unique identifier of the job."
          format: "uuid"
        "job_code":
          type: "string"
          description: "The code representing the type of job executed."
        "status":
          allOf:
            - {"$ref": "#/components/schemas/JobStatus"}
          description: "The status of the job executed."
        "output":
          type: "string"
          description: "The status of the job executed."
          nullable: true
        "source_id":
          type: "string"
          description: "The identifier of the source against which the job executed."
          format: "uuid"
        "source_name":
          type: "string"
          description: "The name of the source against which the job executed."
        "created_at":
          type: "integer"
          description: "The time the job execution was created."
          format: "int64"
        "updated_at":
          type: "integer"
          description: "The time the job execution was updated."
          format: "int64"
      additionalProperties: false
    "JobStatus":
      enum:
        - "Running"
        - "Failed"
        - "Completed"
        - "Canceled"
      type: "string"
    "JobStatusResponse":
      required:
        - "created_at"
        - "updated_at"
      type: "object"
      properties:
        "job_guid":
          type: "string"
          format: "uuid"
        "status":
          allOf:
            - {"$ref": "#/components/schemas/JobStatus"}
        "created_at":
          type: "integer"
          format: "int64"
        "updated_at":
          type: "integer"
          format: "int64"
      additionalProperties: false
    "LanguageEnum":
      enum:
        - "EN"
        - "ES"
        - "FR"
        - "DE"
        - "IT"
        - "PT"
        - "NL"
        - "PL"
        - "SV"
        - "DA"
        - "NO"
        - "ET"
        - "LT"
        - "LV"
        - "RO"
      type: "string"
    "LinkConnectionStatusResponse":
      type: "object"
      properties:
        "status":
          allOf:
            - {"$ref": "#/components/schemas/LinkConnectionStatusResponseEnum"}
          description: "The current status of the connection requested"
        "additional_information":
          type: "string"
          description: "Additional information related to the status"
          nullable: true
      additionalProperties: false
    "LinkConnectionStatusResponseEnum":
      enum:
        - "New"
        - "Connecting"
        - "Connected"
        - "InvalidCredentials"
        - "Error"
        - "MfaMethodChoice"
        - "MfaQuestion"
        - "MfaQuestionInvalidAnswer"
        - "MfaQuestionNoAnswer"
        - "Captcha"
        - "SecurityQuestion"
        - "AccountSelection"
      type: "string"
    "LinkSourcesRequest":
      required:
        - "link_token"
      type: "object"
      properties:
        "link_token":
          minLength: 1
          type: "string"
          description: "The link_token, must be provided when calling Link endpoints, for identifying the Link session."
        "source_id":
          type: "string"
          description: "The specific source identifier to find. If left to NULL, a list of the 15 most common data sources is returned. If specified, the search argument will be ignored."
          format: "uuid"
          nullable: true
        "search":
          maxLength: 255
          minLength: 3
          type: "string"
          description: "A search term for filtering the list by data source name. If left to NULL or empty, a list of the 15 most common data sources is returned."
          nullable: true
      additionalProperties: false
    "LinkSourcesResponse":
      type: "object"
      properties:
        "sources":
          type: "array"
          items: {"$ref": "#/components/schemas/LinkSourcesResponseSource"}
          description: "List of data sources found."
      additionalProperties: false
    "LinkSourcesResponseSource":
      type: "object"
      properties:
        "source_id":
          type: "string"
          description: "Unique identifier of the source with Datadeck."
          format: "uuid"
        "name":
          type: "string"
          description: "Name of the data source."
        "logo_url":
          type: "string"
          description: "Url to display the data source logo, when available (can be null)."
          nullable: true
        "country":
          maxLength: 2
          minLength: 2
          type: "string"
          description: "Country code of the data source in ISO 3166 format (2 characters)."
          nullable: true
        "website":
          type: "string"
          description: "Website of the data source, useful for resetting a password."
          nullable: true
        "fields":
          type: "array"
          items: {"$ref": "#/components/schemas/LinkSourcesResponseSourceField"}
          description: "The required fields to be displayed to the user for entering his credentials. In Update mode (for changing a password), the Username value of the connection being updated will also be provided, to be displayed in read-only."
      additionalProperties: false
    "LinkSourcesResponseSourceField":
      required:
        - "field_label"
        - "field_name"
        - "field_number"
      type: "object"
      properties:
        "field_number":
          type: "integer"
          format: "int32"
        "field_name":
          type: "string"
        "field_label":
          type: "string"
        "field_value":
          type: "string"
          nullable: true
        "field_type":
          allOf:
            - {"$ref": "#/components/schemas/FieldTypeEnum"}
      additionalProperties: false
    "LinkTokenCreateRequest":
      type: "object"
      properties:
        "language":
          allOf:
            - {"$ref": "#/components/schemas/LanguageEnum"}
          description: "The language that Link should be displayed in."
          nullable: true
        "countries":
          type: "array"
          items:
            type: "string"
          description: "Specify an array of Datadeck-supported country codes using the ISO-3166-1 alpha-2 country code standard. Sources from all listed countries will be shown."
          nullable: true
        "customization_name":
          type: "string"
          description: "The name of the customization from Deck dashboard to be applied to this Widget session. If not specified, the default customization will be used. Values provided in this payload override the dashboard customization settings."
          nullable: true
        "source_ids":
          type: "array"
          items:
            type: "string"
            format: "uuid"
          description: "You can specify exactly the sources to be shown in Link by providing a list of source ids."
          nullable: true
        "source_types":
          type: "array"
          items:
            type: "string"
          description: "You can limit the sources to be shown in Link by specifying which source types to be shown in Link."
          nullable: true
        "beta_source_status":
          allOf:
            - {"$ref": "#/components/schemas/BetaSourceStatusEnum"}
          description: "To control which sources to be shown regarding their beta status"
          nullable: true
        "update":
          allOf:
            - {"$ref": "#/components/schemas/LinkTokenCreateRequestUpdate"}
          description: "Used for launching Link in update or refresh mode"
          nullable: true
        "webhook_url":
          type: "string"
          description: "The webhook URL to receive update events."
          nullable: true
        "auto_refresh":
          type: "boolean"
          description: "If true, the Link session will automatically refresh the data."
          nullable: true
        "source_request":
          type: "boolean"
          description: "Users can request a new source be added to Deck if the source they are searching for is not available."
          nullable: true
        "parsing_method":
          allOf:
            - {"$ref": "#/components/schemas/ParsingMethodEnum"}
          description: "Choose the type of parsing needed for the connection"
          nullable: true
        "latest_invoice_only":
          type: "boolean"
          description: "Specifies whether to collect only the latest invoice data or all available invoices"
          nullable: true
      additionalProperties: false
    "LinkTokenCreateRequestUpdate":
      required:
        - "access_token"
        - "mode"
      type: "object"
      properties:
        "access_token":
          minLength: 1
          type: "string"
          description: "The `access_token` associated with the existing Connection to update"
        "mode":
          allOf:
            - {"$ref": "#/components/schemas/LinkTokenCreateRequestUpdateModeEnum"}
          description: "Set which mode you want to use between Update and Refresh.\r\nUpdate mode will ask to enter the password, for updating it.\r\nRefresh mode will re-use existing known credentials and will only let the user interact with the MFA step during sign-in."
      additionalProperties: false
    "LinkTokenCreateRequestUpdateModeEnum":
      enum:
        - "UpdateCredentials"
        - "Refresh"
        - "UpdateAccountSelection"
      type: "string"
    "LinkTokenRequestResponse":
      required:
        - "link_token"
      type: "object"
      properties:
        "link_token":
          minLength: 1
          type: "string"
          description: "The link_token, must be provided when calling Link endpoints, for identifying the Link session."
      additionalProperties: false
    "MfaAnswerRequest":
      required:
        - "answer"
      type: "object"
      properties:
        "job_guid":
          type: "string"
          format: "uuid"
        "answer":
          type: "string"
      additionalProperties: false
    "ParsingMethodEnum":
      enum:
        - "PdfOnly"
        - "Basic"
        - "FullSustainability"
        - "None"
      type: "string"
    "PrepareAgentRequest":
      required:
        - "source_guid"
      type: "object"
      properties:
        "source_guid":
          type: "string"
          description: "The source GUID for the data source to warm up the agent for"
          format: "uuid"
      additionalProperties: false
    "ProblemDetails":
      type: "object"
      properties:
        "type":
          type: "string"
          nullable: true
        "title":
          type: "string"
          nullable: true
        "status":
          type: "integer"
          format: "int32"
          nullable: true
        "detail":
          type: "string"
          nullable: true
        "instance":
          type: "string"
          nullable: true
      additionalProperties: {}
    "ScreenshotData":
      required:
        - "created_at"
        - "file_url"
      type: "object"
      properties:
        "file_url":
          type: "string"
          description: "The URL for the screenshot itself."
        "created_at":
          type: "integer"
          description: "The time the screenshot was taken."
          format: "int64"
      additionalProperties: false
    "SourceData":
      required:
        - "name"
        - "source_id"
        - "url"
      type: "object"
      properties:
        "source_id":
          type: "string"
          description: "The identifier of the source."
          format: "uuid"
        "name":
          type: "string"
          description: "The name of the source."
        "url":
          type: "string"
          description: "The URL of the source."
        "target_url":
          type: "string"
          description: "The overridden URL of the source, if set during connection."
          nullable: true
      additionalProperties: false
    "WebhookUpdateRequest":
      required:
        - "access_token"
        - "is_active"
        - "url"
      type: "object"
      properties:
        "access_token":
          minLength: 1
          type: "string"
          description: "The access token associated with the Item data is being requested for"
        "url":
          minLength: 1
          type: "string"
          description: "The URL of the webhook"
        "is_active":
          type: "boolean"
          description: "The status of the webhook. If true, the webhook is active. If false, the webhook is inactive."
      additionalProperties: false
  securitySchemes:
    "client_id":
      type: "apiKey"
      description: "Enter your client id"
      name: "x-deck-client-id"
      in: "header"
    "secret":
      type: "apiKey"
      description: "Enter your secret"
      name: "x-deck-secret"
      in: "header"
tags:
  - name: "Agents"
    description: "Agent management"
  - name: "Connection"
    description: "Manage connections"
  - name: "Jobs"
    description: "Endpoints related to jobs."
  - name: "Link"
    description: "These endpoints are used by the Link widget. They can also be used for creating your own UX experience and connecting data from utility data sources."
